<%- include('top') %>
<script type="text/javascript">

	app.auth.isLoggedIn(function(error, isLoggedIn){
		if(isLoggedIn){
			app.auth.logInRedirect();
		}
	})

</script>

<div class="row" style="display: none;">
	<div class="col-md-4">
		<div class="shadow-lg card">
			<div class="card-header shadow">
				Password Log in
			</div>
			<div class="card-header shadow actionMessage" style="display:none"></div>
			<div class="card-body">
				<form action="auth/login" onsubmit="formAJAX(this)" evalAJAX="
					app.auth.setToken(data.token);
					app.auth.logInRedirect();
				">
					<input type="hidden" name="redirect" value="<%= redirect %>">

					<div class="form-group">
						<label class="control-label">User name</label>
						<div class="input-group mb-3 shadow">
						  <div class="input-group-prepend">
						    <span class="input-group-text" ><i class="fa-solid fa-user-tie"></i></span>
						  </div>
							<input type="text" name="username" class="form-control" placeholder="jsmith" />
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Password</label>
						<div class="input-group mb-3 shadow">
						  <div class="input-group-prepend">
						    <span class="input-group-text" ><i class="fa-solid fa-key"></i></span>
						  </div>
							<input type="password" name="password" class="form-control" placeholder="hunter123!"/>
						</div>
					</div>

					<button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-right-to-bracket"></i> Log in</button>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('bottom') %>
