<!DOCTYPE html>
<html >
	<head>
		<title>jQuery Validate plugin</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<!-- CSS are placed here -->
		<link rel='stylesheet' href='/static/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/static/css/styles.css' />
		<!-- Scripts are placed here -->
		<script type="text/javascript" src='/static/js/jquery.min.js'></script>
		<script type="text/javascript" src='/static/js/bootstrap.min.js'></script>
		<script type="text/javascript" src='/static/js/ICanHaz.js'></script>
		<script type="text/javascript" src="/static/js/layout.js"></script>
		<script type="text/javascript" src="/static/js/val.js"></script>


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
        <body>
		<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Dynamic Proxy</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-collapse-1" class="collapse navbar-collapse navbar-ex4-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="hosts">Hosts</a>
					<li><a href="users">User Panel</a>
					<li><a href="logout">Log out</a>
				</ul>
			</div>
		</div>
		</nav>

		<!-- Container -->
		<div class="container">