<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Proxy - Theta 42 <%- title %></title>
		<!-- CSS are placed here -->
		<link rel="stylesheet" href="/static-modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static-modules/@fortawesome/fontawesome-free/css/all.min.css">

		<link rel='stylesheet' href='/static/css/styles.css' />
		<!-- Scripts are placed here -->
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src='/static-modules/jquery/dist/jquery.js'></script>
		<!-- <script type="text/javascript" src="/static/lib/js/popper-1.16.0.min.js"></script> -->
		<!-- <script type="text/javascript" src="/static-modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
		<script type="text/javascript" src="/static-modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="/static-modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
		<script type="text/javascript" src='/static-modules/mustache/mustache.min.js'></script>
		<script type="text/javascript" src='/static/lib/js/jq-repeat_new.js'></script>
		<script type="text/javascript" src='/static/lib/js/val.js'></script>
		<script type="text/javascript" src="/static-modules/moment/moment.js"></script>
		<script type="text/javascript" src="/static/lib/js/app-base.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>


		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		  <a class="navbar-brand" href="#">Dynamic Proxy <%- title %></a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		    <ul class="navbar-nav top-nav">
		      <li class="nav-item">
						<a class="nav-link active" href="/hosts"><i class="fa-solid fa-network-wired"></i> Hosts</a>
		      </li>
          <li class="nav-item">
    				<a class="nav-link" href="/dns"><i class="fa-solid fa-record-vinyl"></i> DNS</a>
          </li>
		      <li class="nav-item">
						<a class="nav-link" href="/users"><i class="fa-solid fa-users"></i> Users Panel</a>
		      </li>
		      <li class="nav-item">
						<a class="nav-link" href="/topics"> Topics</a>
		      </li>
		      <li class="nav-item">
						<a class="nav-link" href="https://github.com/theta42/proxy" target="_blank">
		      		<i class="fa-brands fa-github"></i>
						</a>
		      </li>
		    </ul>
		    <div class="form-inline mt-2 mt-md-0">
		    <a id="cl-login-button" class="btn btn-outline-danger my-2 my-sm-0" onclick="app.auth.forceLogin()" style="display: none;">
		    	<i class="fas fa-sign-out"></i>
		    	Login
		    </a>

				<button id="cl-logout-button" class="btn btn-outline-danger my-2 my-sm-0" onclick="app.auth.logOut(e => window.location.href='/')" style="display: none;">
					<i class="fas fa-sign-out"></i>
					Log Out
				</button>
		    </div>
		  </div>
		</nav>
		<script type="text/javascript">
			$(document).ready(function(){
				// window.location.pathname.toLocaleLowerCase()

				// Set the correct link to active in the top nav bar
				$('.top-nav a').each(function(index){
					let $this = $(this);
					$this.removeClass('active');
					if($this.attr('href').toLocaleLowerCase() === window.location.pathname.toLocaleLowerCase()){
						$this.addClass('active')
					}
				})

				// Set the correct login/logout button
				app.auth.isLoggedIn(function(error, data){
					if(data) $('#cl-logout-button').show();
					else $('#cl-login-button').show();
				});

			});
		</script>


		<!-- Container -->
		<div id="spa-shell" class="container-fluid">