[Unit]
Description=web proxy service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/theta42/proxy/nodejs
Environment="NODE_ENV=production"
Environment="CONF_SECRETS=/etc/proxy/secrets.js"
ExecStart=/usr/bin/env node /opt/theta42/proxy/nodejs/bin/www

[Install]
WantedBy=multi-user.target
